<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- App Settings for OAuth-->
    <add key="ClientAppId" value="EE520472-3310-4CC3-9520-E37BF0B86910"/>
    <add key="ClientAppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiJlZTUyMDQ3Mi0zMzEwLTRjYzMtOTUyMC1lMzdiZjBiODY5MTAiLCJjc2kiOiJkOTczNDgwNy0yNGQxLTRkYWMtOWZhMS00N2U2MTUyOTI1ODUiLCJuYW1laWQiOiI5YWRmZjI4NC00YWE1LTZjMTctYTZiZi1mNDA0ZGY1NDRlYmMiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTYwNzk0NzgwOCwiZXhwIjoxNzY1NzE0MjA4fQ.AER6PbUFyb0aktw5KIWx1k0TNZlJ43iKv6oTHxEkEvQh6A-bYkMq1vZ6yp0dwKiK3aV2SXnDebtuNJ7FXqlfE_qsAZ2P9HfsKHVSgCYa1sYmNCqxl-wRrt_ssi37qFDmzKmvpn-nyXVKmjtyhvVhBu5GKr8942dDwRiY4kJ0fJbOBFO73V0Ga8X86XNbAREw_x2rWmQ-mm-KC8OTEfAVBFBU337a21O_DOiqD8w7zvJ7vAOJNLB9SZpNGthd94_b60gR8AfZB_v2zfLAxsIgEue9IXbj0QkVsBnzsaN7WZz0O_0mrbGw58GTWWfUGiPkCWTXrKnlddG_Zsxk0LNRiQ"/>
    <add key="Scope" value="vso.build_execute vso.code_full vso.release_manage vso.tokenadministration vso.tokens vso.variablegroups_manage vso.work_full"/>
    <add key="CallbackUrl" value="https://sebinego-azdo-application.azurewebsites.net/oauth/callback"/>
    
    <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize"/>
    <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token"/>
    <add key="ProfileUrl" value="https://app.vsaex.visualstudio.com/me"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

</configuration>
